<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- index.html -->

    <input type="file" id="audioInput">
    <input type="text" id="textInput">

    <script>
        const audioInput = document.getElementById('audioInput');
        const textInput = document.getElementById('textInput');
        const ws = new WebSocket('ws://127.0.0.1:8084/ws/speech-to-text/');

        ws.onmessage = function (event) {
            textInput.value = event.data;
        };

        audioInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function (event) {
                const data = event.target.result;
                ws.send(data);
            };
            reader.readAsDataURL(file);
        });
    </script>


</body>

</html>